.containerMenu{

    .overlay{

        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        z-index: 2;

        .modal{
            background-color: #0d730d;
            width: 25rem;
            height: 12rem;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            color: white;

            span{
                width: 90%;
                text-align: center;
                font-size: 1.43rem;
            }

            .buttonsModal{
                width: 100%;
                display: flex;
                justify-content: space-around;

                :first-child,:last-child{
                    height: 3rem;
                    font-size: 1rem;
                    cursor: pointer;
                    border-radius: 10px 10px;
                    font-weight: bold;
                }

                :first-child{
                    width: 10rem;
                    border:1px solid black
                }

                :first-child:hover{
                    background-color: #d3d3d3;
                }

                :last-child{
                    width: 12rem;
                    color: white;
                    background-color: red;
                    border-color: black;
                    border: none;
                }

                :last-child:hover{
                    background-color: #cc0000;
                }
            }
        }

    }

    .soccerBall-menu{
        position: absolute;
        left: 2rem;
        top:0.2rem;
        width: 4rem;
    }

    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4.5rem;
        background-color: #009000;
        color:white;
        font-size: 1.2rem;
        width: 100%;

        .start{
            display: flex;
            margin-left:auto;
            margin-right: auto;
            width: 70%;
            justify-content: center;
            left: 5rem;
        }

        .userInfo{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 8rem;
            min-width: 3rem;

            img{
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
            }

            span{
                margin-left: 0.4rem;
                color:white;
                font-weight: 500;
                font-size: 1rem;
            }
        }

        .navlink{
            height: 2.5rem;
            padding: 1rem 4rem;
            width: 2.5rem;
            text-decoration: none;
            cursor: pointer;
            color:white;/* 
            vertical-align:20px !important; */
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: solid 1px black;

            &.active{
                background-color:#006600;
            }

            >svg{
                min-height: 1.5rem;
                min-width: 1.5rem;
                margin-left: 0.1rem;
            }

            >span{
                font-size: 1.7rem;
                text-align: center !important;
            }

        }

        #central{
            border: solid 1px black;
            border-bottom: none;
            border-top: none;
        }

        #last{
            border: solid 1px black;
            margin-right: 0.04rem;
            width: 1.5rem;
            min-width: 0.9rem;
            border-bottom: none;
            border-top: none;
        }
        
        .navlink:hover{
            background-color:#006600;
        }
    }

}

@media (max-width: 870px)
{
  .soccerBall-menu
   {
    height: 3rem !important;
    width: 3rem !important;
    top: 0.8rem !important;
   }
}

@media (max-width: 830px)
{
  .soccerBall-menu
   {
    height: 2.5rem !important;
    width: 2.5rem !important;
    top: 1rem !important;
   }
}

@media (max-width: 800px)
{
  .soccerBall-menu
   {
    z-index: -1;
    background-color: aqua;
   }
}

@media (max-width: 610px)
{
    .userInfo{
       
        img{
            width: 2rem !important;
            height: 2rem !important;
        }
    
        span{
            font-size: 0.8rem !important;
            text-align: center !important;
        }
    }

    .navlink{
        width: 0.7rem !important;
        >span{
            font-size: 1.5rem !important;
        }
    }
}

@media (max-width: 490px){
    
    .menu{
        width: 28rem !important;
    }
    
    .navlink{
        padding: 1rem 3.7rem !important;
        >span{
            font-size: 1.2rem !important;
        }
    }

    #last{

        svg{
            width: 1rem !important;
            height: 1rem !important;
        }
    }
}
