.playerCard{
    background: #009000;
    width: 15rem;
    height: 18.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0.5rem;

    .photoPlayer{
        height: 10rem;
        width:10rem;
        margin-top: 1rem;
    }

    .delete,.edit{
        position: relative;
        top: -10rem;
        left: 6rem;

        display: flex;
        flex-direction: column;

        svg{
            cursor: pointer;
        }

    }

    .infoPlayer{
        height: 7rem;
        margin-top: -3.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: white;

        .nameCaptain{

            height: 1.7rem;

            h2{

            }

            #captain{
                color: yellow;
            }
        }
    }

    #withinATeam{
        margin-top: 0.5rem;
    }
}

@media (max-width: 360px){

    .playerCard{
        width: 11rem;
        height: 15rem;

        .photoPlayer{
            height: 8rem;
            width:8rem;
            margin-top: 0.5rem;
        }
    
        .delete,.edit{
            top: -8rem;
            left: 4.5rem;    
        }

        .delete{
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.5rem;
        }

        .edit{
            width: 1rem;
            height: 1rem;
        }
    
        .infoPlayer{
            height: 4rem;
            margin-top: -1rem;
            justify-content: space-around;
    
            .nameCaptain{
    
                h2{
                    font-size: 1.2rem;
                }
            }

            h3{
                font-size: 1rem;

                img{
                    width: 1rem;
                    height: 1rem;
                }
            }
        }

        #withinATeam{
            margin-top: 1.3rem;
        }
    
    }
}