.containerFooter {
    background-color: #36602c ;
    color: white;
    z-index: 1;
    width: 100%;
    height: 6.45rem;
    bottom: 0 ;

    .footer {
        background-color: var(--Dell-Blue-Black);
        border: none;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .text{
            display: flex;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .icons-socialNetworks{

            .icons{
                
            }
        }
    }
}


